body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    color:black;
    background-color:white;
}
/* Nav Bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color:floralwhite;

}

.logo {
    font-family: cursive;
    font-weight: bold;
    font-size: 60px;
}

/* Hero */
.hero {
    height: 100vh;
    background: url("https://www.thehorse.com.au/cdn/shop/files/2._Homepage_21-04_Hero_Desktop.jpg?v=1776897984&width=1500"); 
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 18px;
}

/* About */
.about {
    padding: 80px 20%;
    background: wheat;
    line-height: 1.8;
}

.about h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.about p {
    margin-bottom: 20px;
    font-size: 16px;
}

/* Contact */
.contact {
    text-align: center;
    padding: 80px 20px;
}

.contact h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 15px;
    margin: 10px 0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 14px;
}

/* Shop */
.shop {
    padding: 80px 10%;
    text-align: center;
}

.product-grid {
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: 40px;
}

.product {
    background: white;
    padding: 20px;
    border: 1px solid #eee;
}

.product img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product h3 {
    margin: 15px 0 5px;
}

.product button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
}

.product button:hover {
    background: #444; 
}

.slider-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 12px 0;
}

.slider-buttons button {
    background: black;
    color: white;
    border: none;
    padding: 8px 14px;
    cursor: pointer;
}

#toast {
    visibility: hidden;
    min-width: 260px;
    background: black;
    color:white;
    text-align: center;
    padding: 16px 24px;
    position: fixed;
    z-index: 9999;
    right: 30px;
    bottom: 30px;
    border-radius: 4px;
}

#toast.show {
    visibility: visible;
}

.checkout-container {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
}

.checkout-left {
    padding: 50px;
    background: white;
}

.checkout-right {
    padding: 50px;
    background: #f6f6f6;
    border-left: 1px solid #ddd;
}

.checkout-logo {
    text-align: center;
    margin-bottom: 40px;
}

.free-shipping-box {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.checkout-left h2 {
    margin-top: 35px;
}

.checkout-left input,
.checkout-left select {
    width: 100%;
    padding: 15px;
    margin-top: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.payment-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

.paypal-option {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.applepay-option {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    color: #333;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.pay-now-btn {
    width: 100%;
    margin-top: 30px;
    padding: 18px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.discount-box {
    display: flex;
    gap: 10px;
    margin: 25px 0;
}

.discount-box input {
    flex: 1;
    padding: 15px;
}

.discount-box button {
    padding: 15px 25px;
}

.summary-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.total-row {
    font-size: 24px;
    font-weight: bold;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 30px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.checkout-cart-item {
    display: grid;
    grid-template-columns: 70px 1fr auto;
    gap: 15px;
    align-items: center;
}

.checkout-cart-item img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.checkout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.checkout-logo {
    font-family: cursive;
    font-size: 60px;
    margin: 0;
}

.checkout-nav a {
    text-decoration: none;
    color: #222;
    font-weight: 500;
}

.checkout-nav a:hover {
    color:#8c7b65;
}

.product-page {
    display: grid;
    grid-template-columns: 110px 1.4fr 0.9fr;
    gap: 28px;
    padding: 40px 7%;
    background: white;
    align-items: start;
}

.thumbnail-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thumbnail-column img {
    width: 95px;
    height: 115px;
    object-fit: cover;
    cursor: pointer;
    background: #f7f7f7;
}

.main-product-image {
    position: relative;
    background: #f7f7f7;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-product-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-info {
    background: white;
    padding: 10px 25px;
}

.product-label {
    letter-spacing: 4px;
    font-size: 13px;
    color: #555;
}

.product-info h2 {
    font-size: 42px;
    font-weight: 400;
    margin: 20px 0;
}

#product-price {
    font-size: 22px;
    margin-bottom: 20px;
}

.stars {
    color: #d9a441;
    font-size: 18px;
    margin-bottom: 30px;
}

#product-description {
    font-size: 26px;
    line-height: 1.45;
    color: #5f594f;
    margin-bottom: 35px;
}

.add-cart-btn {
    width: 100%;
    padding: 18px;
    background: white;
    border: 1px solid #999;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}

.add-cart-btn:hover {
    background: black;
    color: white;
}

.product-extra {
    margin-top: 55px;
    border-top: 1px solid #999;
    padding-top: 20px;
}

.product-extra h3 {
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 500;
}

.product-extra p {
    font-size: 16px;
    line-height: 1.6;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    width: auto;
}

.left-arrow {
    left: 18px;
}

.right-arrow {
    right: 18px;
}

@media (max-width: 900px) {
    .product-page {
        grid-template-columns: 1fr;
    }

    .thumbnail-column {
        flex-direction: row;
        overflow-x: auto;
    }

    .main-product-image {
        height: 500px;
    }

    .product-info h2 {
        font-size: 34px;
    }

    #product-description {
        font-size: 22px;
    }
}

.or-line {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 28px 0;
}

.or-line span {
    flex: 1;
    height: 1px;
    background: #ddd;
}

.or-line p {
    color: #777;
}

.add-cart-btn {
    width: 100%;
    padding: 18px;
    border: 1px solid #777;
    border-radius: 40px;
    background: white;
    font-size: 18px;
    cursor: pointer;
}

.apple-pay-btn {
    width: 100%;
    padding: 18px;
    background: black;
    color: white;
    border: none;
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
}

.paypal-btn {
    width: 100%;
    padding: 18px;
    background: #ffc439;
    color: #003087;
    border: none;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.more-payment {
    display: block;
    text-align: center;
    margin-top: 25px;
    color: purple;
}

.express-title {
    text-align: center;
    color: #777;
}

.express-checkout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 20px 0;
}

.express-checkout button {
    padding: 18px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.shop-pay-btn {
    background: #5a31f4;
    color: white;
}

.paypal-express-btn {
    background: #ffc439;
    color: #003087;
}

.gpay-btn {
    background: black;
    color: white;
}

.payment-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-logos {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-logos img {
    width: 58px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;
    padding: 3px;
}

.extra-cards {
    width: 40px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsive fixes */
body {
    overflow-x: hidden;
}

.product-page,
.checkout-container {
    max-width: 1500px;
    margin: 0 auto;
}

/* Split screen or tablet size */
@media (max-width: 1200px) {

    .product-page {
        grid-template-columns: 90px 1fr;
        padding: 30px;
    }

    .product-info {
        grid-column: span 2;
        padding: 20px 0;
    }

    .checkout-container {
        grid-template-columns: 1fr;
    }

    .checkout-left,
    .checkout-right {
        padding: 30px;
    }
}

/* Mobile screen */
@media (max-width: 768px) {

    header,
    .checkout-header {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    nav,
    .checkout-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .product-grid {
        grid-template-columns: 1fr;
    }

    .product-page {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .thumbnail-column {
        flex-direction: row;
        overflow-x: auto;
    }

    .main-product-image {
        height: 420px;
    }

    .two-column {
        grid-template-columns: 1fr;
    }

    .express-checkout {
        grid-template-columns: 1fr;
    }
    
}